.aboutCovid {
    margin: 15rem auto 5rem;
    width: 80%;

    @include mq768 {
        margin-top: 8rem;
    }

    h2 {
        font-size: 4rem;
        line-height: 5.5rem;

        @include mq768 {
            font-size: 3.5rem;
            line-height: 5rem;
        }

        @include mq430 {
            font-size: 3.2rem;
            line-height: 4.5rem;
        }
    }

    h3 {
        font-size: 3.2rem;
        margin-bottom: 1rem;
        line-height: 3.3rem;

        @include mq768 {
            font-size: 2.8rem;
        }

        @include mq430 {
            font-size: 2.5rem;
        }
    }

    h4 {
        font-size: 2.5rem;
        margin: 3rem 0 0;

        @include mq768 {
            font-size: 2.1rem;
        }

        @include mq430 {
            font-size: 1.9rem;
        }
    }
    
    ul {
        font-size:1.6rem; 

        @include mq768 {
            font-size: 1.5rem;
        }

        @include mq430 {
            font-size: 1.4rem;
            padding-left: 2rem;
        }

        li {
            margin-bottom: 1rem;
        }
    }

    p {
        font-size: 1.6rem;
        line-height: 2.6rem;
        margin: 1rem 0;

        @include mq768 {
            font-size: 1.5rem;
        }

        @include mq430 {
            font-size: 1.4rem;
            line-height: 2.5rem;
        }
    }

    button {
        @include button;
        width: 25rem;
        margin: 4rem 3rem 0 0;

        @include mq430 {
            font-size: 1.8rem;
            height: 4.7rem;
        }
    }
}