.article {
  margin: 15rem auto 5rem;
  width: 80%;

  @include mq1120 {
    width: 90%;
    margin-top: 14.3rem;
  }

  @include mq768 {
    width: 95%;
    margin-top: 9rem;
  }

  .articleList {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 auto;
        list-style: none;

        @include mq1120 {
            justify-content: space-between;
        }

        li {
            width: 31%;
            border: 2px solid black;
            padding: 2rem;
            margin-bottom: 4.5rem;
            border-radius: 1rem;

            @include mq1120 {
                width: 48%;
            }

            @include mq768 {
                width: 100%;
            }

            @include mq430 {
                margin-bottom: 3rem;
            }

            h3 {
                font-size: 2.2rem;
                margin-top: 0;
                line-height: 3rem;

                @include mq768 {
                    font-size: 2rem;
                    line-height: 2.8rem;
                }
            }

            .articleImage {
                margin: 2rem 0;
                height: 20rem;

                @include mq1120 {
                    height: 27rem;
                }

                @include mq768 {
                    height: 38rem;
                }

                @include mq430 {
                    height: 32rem;
                }
            }

            p {
                font-size: 1.3rem;
                margin: 0;
                line-height: 2.3rem;
            }

            a {
                font-size: 1.6rem;

                @include mq768 {
                    font-size: 1.5rem;
                }
            }

            p:nth-child(5) {
                font-size: 1.6rem;
                margin-bottom: 2rem;
                line-height: 2.5rem;

                @include mq768 {
                    font-size: 1.5rem;
                    line-height: 2.4rem;
                }

                @include mq430 {
                    font-size: 1.4rem;
                    line-height: 2.3rem;
                }
            }
        }

        li:nth-child(3n + 2) {
            margin: 0 3.5% 5rem;

            @include mq1120 {
                margin: 0 0 5rem;
            }
        }
    }
}