.nav {
  width: 100%;
  height: 9rem;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
  background: #3816d4;
  z-index: 999;

  &.showNav {
    top:0;
  }

  @include mq1120 {
    height: 8.3rem;
  }

  @include mq768 {
    height: 100vh;
    top: -110%;
    background: #3816d4;
    position: fixed;
  }

  .navTrigger {
    display: none;
    position: fixed;
    z-index: 999;
    padding: 0;
    right: 2rem;
    top: 2rem;
    width: 5rem;
    line-height: 5rem;
    border: none;
    background: white;
    border-radius: 1rem;
    font-size: 2.5rem;
    transition: all 0.3s;
    box-shadow: 5px 5px #3816d4, 0 0 3px 3.5px #3816d4 inset;
    cursor: pointer;

    &.hideNavTrigger {
      box-shadow: none;
      background: none;
      color: white;
      font-size: 4rem;

      &:hover,
      &:focus {
        top: 2rem;
        right: 2rem;
        box-shadow: 5px 5px #3816d4, 0 0 3px 3.5px #3816d4 inset;
        font-size: 5.5rem;
      }
    }

    &:hover,
    &:focus {
      top: 2.25rem;
      right: 1.75rem;
      box-shadow: 2.5px 2.5px #3816d4, 0 0 3px 3.5px #3816d4 inset;
    }

    @include mq768 {
      display: block;
    }
  }

  ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;

    @include mq768 {
      height: 100%;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }

    a {
      font-size: 3.2rem;
      text-decoration: none;
      color: white;
      text-transform: uppercase;

      @include mq1120 {
        font-size: 2.6rem;
      }

      &:hover,
      &:focus {
        border-bottom: 2px solid white;
      }
    }
  }
}