.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15rem;

    @include mq768 {
        margin-top: 12rem;
    }

    @include mq430 {
        margin-top: 9rem;
    }

    .questionContainer {
        width: 60%;

        @include mq1120 {
            width: 75%;
        }

        @include mq768 {
            width: 80%;
        }

        @include mq430 {
            width: 85%;
        }


        h3 {
            font-size: 3rem;
            margin: 0;
            line-height: 4.5rem;
    
            @include mq1120 {
                font-size: 2.6rem;
                line-height: 4rem;
            }
    
            @include mq768 {
                font-size: 2.4rem;
                line-height: 3.5rem;
            }
    
            @include mq430 {
                font-size: 2.1rem;
                line-height: 3.2rem;
            }
    
            @include mq375 {
                font-size: 2rem;
                line-height: 3rem;
            }
        }
    
        p {
            font-size: 1.9rem;
            margin: 3rem 0 0;
    
            @include mq1120 {
                font-size: 1.8rem;
            }
    
            @include mq768 {
                font-size: 1.7rem;
            }
    
            @include mq430 {
                font-size: 1.6rem;
            }
    
            @include mq375 {
                font-size: 1.5rem;
            }
        }
    
        ul {
            margin: 3rem 0 5rem;
    
            li {
                font-size: 1.9rem;
                margin-bottom: 2rem;
                line-height: 3rem;
    
                @include mq1120 {
                    font-size: 1.8rem;
                    line-height: 2.9rem;
                }
    
                @include mq768 {
                    font-size: 1.7rem;
                    line-height: 2.8rem;
                }
    
                @include mq430 {
                    font-size: 1.6rem;
                    line-height: 2.5rem;
                    margin-bottom: 1.5rem;
                }
    
                @include mq375 {
                    font-size: 1.5rem;
                    line-height: 2.4rem;
                }
            }
        }
    
        .buttonContainer {
            margin-bottom: 5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            @include mq430 {
                align-items: center;
            }

            div {
                display: flex;
                justify-content: space-around;

                @include mq430 {
                    width: 100%;
                }

                button {
                    @include button;
        
                    @include mq768 {
                        font-size: 1.9rem;
                        height: 4.7rem;
                        width: 15rem;
                    }
        
                    @include mq430 {
                        width: 35%;
                    }
        
                    @include mq375 {
                        font-size: 1.8rem;
                        width: 40%;
                    }
                }
        
                button:first-child {
                    margin: 0 5rem 5rem 0;
    
                    @include mq430 {
                        margin-right: 0;
                    }
                }
            }
        }    

        .startAgain {
            @include button;
            width: 22rem;
    
            @include mq768 {
                font-size: 1.9rem;
                height: 4.7rem;
            }

            @include mq430 {
                width: 50%;
            }

            @include mq375 {
                font-size: 1.8rem;
                }
        }
    }
}