.call911,
.consultFamilyDoctor,
.selfIsolate,
.resultIsSelfIsolate,
.noNeedToBeTested {
    @include resultDescription;
    width: 60%;
    text-align: center;

    @include mq1120 {
        width: 75%;
    }

    @include mq768 {
        width: 80%;
    }

    @include mq430 {
        width: 85%;
    }

    h3 {
        font-size: 5.5rem;
        margin: 0;
        width: 100%;

        @include mq1120 {
            font-size: 5rem;
        }

        @include mq768 {
            font-size: 4.3rem;
        }

        @include mq430 {
            font-size: 3.5rem;
        }
    }

    h4 {
        font-size: 2.9rem;
        margin: 4rem 0;
        line-height: 3.9rem;

        @include mq1120 {
            font-size: 2.65rem;
            line-height: 3.7rem;
        }

        @include mq768 {
            font-size: 2rem;
            line-height: 3rem;
            margin: 3rem 0;
        }

        @include mq430 {
            font-size: 1.8rem;
            margin: 2.5rem 0;
            line-height: 2.7rem;
        }
    }

    p {
        font-size: 2rem;
        line-height: 3rem;
        margin: 0 0 4rem;

        @include mq1120 {
            font-size: 1.9rem;
        }

        @include mq768 {
            font-size: 1.7rem;
            line-height: 2.7rem;
            margin: 0 0 2rem;
        }

        @include mq430 {
            font-size: 1.5rem;
            line-height: 2.5rem;
        }
    }

    button {
        @include button;
        margin: 3rem 0;
        width: 20rem;

        @include mq1120 {
            width: 18rem;
        }

        @include mq768 {
            font-size: 1.9rem;
            height: 4.7rem;
        }

        @include mq430 {
            font-size: 1.75rem;
            height: 4.5rem;
            width: 15rem;
        }
    }
}


.selfIsolate {
    
    h3 {
        margin-bottom: 5rem;

        @include mq1120 {
            margin-bottom: 3rem;
        }
    }

    h4 {
        margin: 4rem 0 2rem;

        @include mq430 {
            margin: 3rem 0 1.5rem;
        }
    }

    p {
        margin-bottom: 1rem;
    }

    button {
        margin-top:  5rem;

        @include mq1120 {
            margin-top: 4rem;
        }
    }
}