.selfCheck {
    margin: 12rem auto 5rem;
    width: 80%;

    @include mq768 {
        width: 90%;
        margin-top: 8rem;
    }

    .selfAssessmentDescription {

        h2 {
            font-size: 3.7rem;
            margin: 0 0 2rem;

            @include mq768 {
                font-size: 3.3rem;
            }

            @include mq430 {
                font-size: 3rem;
            }
        }

        h3 {
            font-size: 2.3rem;
            line-height: 3.2rem;
            margin: 3rem 0 0;

            @include mq768 {
                font-size: 2rem;
                line-height: 3rem;
            }

            @include mq430 {
                font-size: 1.7rem;
                line-height: 2.8rem;
            }
        }

        li,
        p {
            font-size: 1.6rem;
            line-height: 2.6rem;
            margin-bottom: 0.5rem;

            @include mq768 {
                font-size: 1.5rem;
            }

            @include mq430 {
                font-size: 1.4rem;
                line-height: 2.3rem;
            }
        }

        p {
            margin: 1rem 0 0;
        }

        p:nth-of-type(4) {
            margin: 3rem 0;
        }

        button {
            @include button;
            margin: 0;
            width: 20rem;

            @include mq430 {
                height: 4.7rem;
                font-size: 1.8rem;
            }
        }
    }
}
