article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

.currentStatusList {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 4rem;
  text-align: center;
}

.currentStatusList li {
  line-height: 4.5rem;
  font-size: 2.5rem;
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav a {
  font-size: 3.2rem;
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 7rem;
  margin: 0;
  width: 90%;
  text-align: center;
}

.date {
  font-size: 5rem;
  text-align: center;
  margin: 3rem 0;
}

.statistic,
.news,
.selfCheck {
  margin: 12rem auto 5rem;
  width: 80%;
}

.searchFormContainer {
  margin-top: 3rem;
}

.searchFormContainer form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.5rem;
}

.searchFormContainer input {
  width: 50%;
  font-size: 3rem;
  height: 100%;
}

.searchFormContainer button {
  width: 20rem;
  font-size: 3rem;
  height: 100%;
}

table {
  margin-top: 3rem;
  width: 100%;
}

.searchedCountry {
  color: blue;
}

tr {
  border-bottom: 1px solid black;
  height: 6rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

th {
  font-size: 2.5rem;
  width: calc(100% / 6);
}

td {
  font-size: 1.8rem;
  width: calc(100% / 6);
}

.totalCases,
.totalDeaths {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.totalCases span:nth-child(2),
.totalDeaths span:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

.arrow {
  color: red;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 6px solid red;
  margin-right: 0.15rem;
} 

.newsList {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

.newsList li {
  width: 31%;
  border: 2px solid black;
  padding: 2rem;
  margin-bottom: 5rem;
  border-radius: 1rem;
}

.newsList li:nth-child(3n + 2) {
  margin: 0 3.5% 5rem;
}

h3 {
  font-size: 2rem;
  margin-top: 0;
}

.newsArticle {
  margin: 2rem 0;
}

.newsList p {
  font-size: 1.3rem;
  margin: 0;
}

.newsList p:nth-child(5) {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.newsList a {
  font-size: 1.6rem;
}

.selfAssessmentDescription h2 {
  font-size: 3.2rem;
  margin: 0 0 2rem;
}

.selfAssessmentDescription h3 {
  font-size: 2.3rem;
  margin: 3rem 0 0;
}

.selfAssessmentDescription p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin: 1rem 0 0;
}

.selfAssessmentDescription p:nth-of-type(4) {
  margin: 3rem 0;
}

.selfAssessmentDescription li {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.selfAssessmentDescription button {
  position: relative;
  font-size: 2.3rem;
  background: white;
  border: none;
  width: 20rem;
  height: 5rem;
  border-radius: 1rem;
  box-shadow: 5px 5px skyblue, 0 0 3px 3.5px skyblue inset;
}

.selfAssessmentDescription button:hover {
  top: 2.5px;
  left: 2.5px;
  box-shadow: 2.5px 2.5px skyblue, 0 0 3px 3.5px skyblue inset;
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 22rem;
}

.questions h3 {
  font-size: 4rem;
  margin: 0;
}

.questions ul {
  padding: 0;
  margin: 5rem 0;
}

.questions li {
  font-size: 1.9rem;
  margin-bottom: 2rem;
}

.questions button,
.call911 button,
.consultFamilyDoctor button,
.selfIsolate button,
.resultIsSelfIsolate button,
.noNeedToBeTested button {
  position: relative;
  width: 18rem;
  height: 5rem;
  margin: 0 7rem;
  font-size: 2.3rem;
  text-transform: uppercase;
  background: white;
  border: none;
  border-radius: 1rem;
  box-shadow: 5px 5px skyblue, 0 0 3px 3.5px skyblue inset;
}

.questions button:hover,
.call911 button:hover,
.consultFamilyDoctor button:hover,
.selfIsolate button:hover,
.resultIsSelfIsolate button:hover,
.noNeedToBeTested button:hover {
  top: 2.5px;
  left: 2.5px;
  box-shadow: 2.5px 2.5px skyblue, 0 0 3px 3.5px skyblue inset;
}

.buttonContainer {
  margin-bottom: 5rem;
}

button.return {
  width: 42rem;
  height: 5.5rem;
}

.call911,
.consultFamilyDoctor,
.selfIsolate,
.resultIsSelfIsolate,
.noNeedToBeTested {
  width: 80%;
  margin: 22rem auto 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selfIsolate,
.resultIsSelfIsolate,
.noNeedToBeTested {
  margin-top: 16rem;
}

.call911 h3,
.consultFamilyDoctor h3,
.selfIsolate h3,
.resultIsSelfIsolate h3,
.noNeedToBeTested h3 {
  font-size: 5.8rem;
  margin: 0;
}

.call911 h4,
.consultFamilyDoctor h4,
.selfIsolate h4,
.resultIsSelfIsolate h4,
.noNeedToBeTested h4 {
 font-size: 3.8rem;
 margin: 4rem 0;
}

.call911 p,
.consultFamilyDoctor p,
.selfIsolate p,
.resultIsSelfIsolate p,
.noNeedToBeTested p {
 font-size: 2rem;
 line-height: 3rem;
 margin: 0;
}

.selfIsolate h3 {
  margin-bottom: 5rem;
}

.selfIsolate button {
  margin-top:  5rem;
}


/* ====================================== */
/* ============= media query ============ */
/* ====================================== */

@media(max-width: 1120px) {
  h1 {
    font-size: 6.5rem;
  }

  .date {
    font-size: 4.5rem;
  }


  .nav a {
    font-size: 2.9rem;
  }

  .news {
    width: 90%;
  }

  .newsList {
    justify-content: space-between;
  }

  .newsList li:nth-child(3n + 2) {
    margin: 0 0 5rem;
  }

  .newsList li {
    width: 48%;
  }

  .statistic {
    width: 95%;
  }

  th {
    font-size: 2.2rem;
  }

  td {
    font-size: 1.6rem;
  }

  .call911,
  .consultFamilyDoctor,
  .resultIsSelfIsolate,
  .noNeedToBeTested,
  .selfIsolate {
    width: 100%;
    margin-top: 20rem;
  }

  .selfIsolate {
    margin-top: 15rem;
  }

  .call911 h3,
  .consultFamilyDoctor h3,
  .selfIsolate h3,
  .resultIsSelfIsolate h3,
  .noNeedToBeTested h3 {
    font-size: 5.5rem;
  }

  .selfIsolate h3 {
    margin-bottom: 3rem;
  }

  .call911 h4,
  .consultFamilyDoctor h4,
  .selfIsolate h4,
  .resultIsSelfIsolate h4,
  .noNeedToBeTested h4 {
    font-size: 3rem;
  }

  .call911 p,
  .consultFamilyDoctor p,
  .selfIsolate p,
  .resultIsSelfIsolate p,
  .noNeedToBeTested p {
  font-size: 1.8rem;
  }

  .questions {
    margin-top: 18rem;
  }

  .questions h3 {
    font-size: 3.3rem;
  }

  .questions li {
    font-size: 1.8rem;
  }

  .questions button,
  .call911 button,
  .consultFamilyDoctor button,
  .selfIsolate button,
  .resultIsSelfIsolate button,
  .noNeedToBeTested button {
    margin: 0 4rem;
  }

  .selfIsolate button {
    margin-top: 4rem;
  }
}

@media(max-width: 768px) {
  .nav a {
    font-size: 2.7rem;
  }

  .news {
    width: 95%;
  }

  .newsList li {
    width: 100%;
  }
  
  .statistic {
    margin-top: 10rem;
  }

  .date {
    margin: 2rem 0;
  }

  .searchFormContainer {
    margin-top: 3rem;
  }

  .searchFormContainer input {
    font-size: 2.5rem;
  }

  .searchFormContainer button {
    width: 15rem;
    font-size: 2.5rem;
  }

  th {
    font-size: 2rem;
  }

  .selfCheck {
    width: 90%;
  }

  .selfAssessmentDescription h2 {
    font-size: 2.9rem;
  }

  .selfAssessmentDescription h3 {
    font-size: 2rem;
  }

  .selfAssessmentDescription p,
  .selfAssessmentDescription li {
    font-size: 1.5rem;
  }

  .call911,
  .consultFamilyDoctor,
  .selfIsolate {
    margin-top: 18rem;
  }

  .call911 h3,
  .consultFamilyDoctor h3,
  .selfIsolate h3,
  .resultIsSelfIsolate h3,
  .noNeedToBeTested h3 {
    font-size: 4.8rem;
  }

  .call911 h4,
  .consultFamilyDoctor h4,
  .selfIsolate h4,
  .resultIsSelfIsolate h4,
  .noNeedToBeTested h4 {
    font-size: 2.6rem;
  }

  .call911 p,
  .consultFamilyDoctor p,
  .selfIsolate p,
  .resultIsSelfIsolate p,
  .noNeedToBeTested p {
    font-size: 1.6rem;
  }

  .questions,
  .selfIsolate {
    margin-top: 15rem;
  }

  .questions h3 {
    font-size: 2.8rem;
  }

  .questions ul {
    margin: 3rem 0;
    width: 90%;
  }
  
  .buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .buttonContainer button { 
    margin: 0;
  }
}

@media(max-width: 640px) {
  h1 {
    font-size: 5.5rem;
    margin-bottom: 2rem;
  }

  .date {
    font-size: 4rem;
  }

  .currentStatusList li {
    font-size: 2.2rem;
    line-height: 4rem;
  }

  .nav a {
    font-size: 2.3rem;
  }
  .searchFormContainer form {
    height: 5rem;
  }

  .searchFormContainer input {
    width: 70%;
    font-size: 2.2rem;
  }
  
  .searchFormContainer button {
    width: 30%;
    font-size: 2.2rem;
  }

  th:nth-child(4),
  th:nth-child(5),
  td:nth-child(4),
  td:nth-child(5) {
    display: none;
  }

  th,
  td {
    width: calc(100% / 4);
  }

  .selfIsolate,
  .resultIsSelfIsolate,
  .noNeedToBeTested {
    margin-top: 14rem;
  }

  .call911 h3,
  .consultFamilyDoctor h3,
  .selfIsolate h3,
  .resultIsSelfIsolate h3,
  .noNeedToBeTested h3 {
    font-size: 4.1rem;
  }

  .call911 h4,
  .consultFamilyDoctor h4,
  .selfIsolate h4,
  .resultIsSelfIsolate h4,
  .noNeedToBeTested h4 {
    font-size: 2.3rem;
  }

  .call911 p,
  .consultFamilyDoctor p,
  .selfIsolate p,
  .resultIsSelfIsolate p,
  .noNeedToBeTested p {
    font-size: 1.5rem;
  }

  .buttonContainer {
    justify-content: space-around;
  }

  .buttonContainer button {
    width: 16rem;
  }

  button.return {
    width: 40rem;
    margin: 0;
  }
}

@media(max-width: 430px) {
  h1 {
    font-size: 5rem;
    width: 100%;
  }

  .currentStatusList li {
    font-size: 2rem;
    line-height: 3.6rem;
  }

  .nav a {
    font-size: 2.1rem;
  }

  .newsList li {
    margin-bottom: 3rem;
  }

  .searchFormContainer input {
    width: 65%;
  }
  
  .searchFormContainer button {
    width: 35%;
  }

  tr {
    height: 5.5rem;
  }

  th {
    font-size: 1.7rem;
  }

  td {
    font-size: 1.45rem;
  }

  .selfIsolate,
  .resultIsSelfIsolate,
  .noNeedToBeTested {
    margin-top: 0;
  }

  .call911,
  .consultFamilyDoctor {
    margin-top: 16rem;
  }

  .selfAssessmentDescription h2 {
    font-size: 2.7rem;
  }

  .selfAssessmentDescription h3 {
    font-size: 1.8rem;
  }

  .selfAssessmentDescription p,
  .selfAssessmentDescription li {
    font-size: 1.4rem;
    line-height: 2.3rem;
  }

  .call911 h3,
  .consultFamilyDoctor h3,
  .selfIsolate h3,
  .resultIsSelfIsolate h3,
  .noNeedToBeTested h3 {
    font-size: 3.5rem;
  }

  .call911 h4,
  .consultFamilyDoctor h4,
  .selfIsolate h4,
  .resultIsSelfIsolate h4,
  .noNeedToBeTested h4 {
    font-size: 2.1rem;
    margin: 2.5rem 0;
  }

  .questions {
    margin-top: 0;
  }

  .questions h3 {
    font-size: 2.5rem;
  }

  .questions li {
    font-size: 1.6rem;
  }

  .buttonContainer {
    flex-direction: column;
    align-items: center;
  }

  .buttonContainer button {
    width: 65%;
    font-size: 2rem;
  }

  .buttonContainer button:first-child {
    margin-bottom: 3rem;
  }

  button.return {
    font-size: 2rem;
    width: 34rem;
  }
}

@media(max-width: 375px) {
  .nav a {
    font-size: 1.9rem;  
  }

  .call911,
  .consultFamilyDoctor {
    margin-top: 0;
  }

  .questions h3 {
    font-size: 2.7rem;
  }

  .questions li {
    font-size: 1.5rem;
  }

  .buttonContainer button {
    height: 4.7rem;
    width: 60%;
  }

  button.return {
    font-size: 1.8rem;
    width: 90%;
    padding: 2%;
  }
}